body
{
    text-align: center;
    margin: 0px;
}
h1, h2, h4
{
    font-family: "Cherry Bomb One", system-ui;
    margin: 10px auto;
    font-size: 2.5rem;
    color: #FFA95A;
    -webkit-text-stroke: 2px black;
}
h3
{
    font-family: "Boogaloo", sans-serif;
    font-size: 2rem;
    color: #FFA95A;
    -webkit-text-stroke: 0.2px black;
    
    
}
button
{
    font-family: "Cherry Bomb One", system-ui;
    color: #FFA95A;
    font-size: 1.5rem;
    -webkit-text-stroke: 0.2px black;
    display: block;
    margin: 40px auto;
}
#header
{
    margin-bottom: 50px;
}
.main
{
    margin: 50px auto;
    border-top: 2px solid black;
    background-image: url("./images/lotto.jpg");
    height: 100vh;
    width: vw;
}
.container
{
    display: flex;
    
    height: 50px;
}
.wrapper
{
    margin: 20px auto;
    padding: 0px 50px;
}

.outer
{
    display: inline-block;
    width: 25%;
    margin: 3% auto;
    border: 5px solid grey;
    background-color: white;
}
.box
{
    width: 20px;
    padding: 10px;
    margin:  0px 10px;
    border-bottom: 2px solid black;
}
